<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <title>Vue增刪查改</title>
    <style>
      #app {
        margin: 10%;
        background-color: aliceblue;
      }
      th,
      td,
      div {
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h2>測試列表的增、刪、改</h2>
      <table border="1">
        <tr>
          <th>id</th>
          <th>姓名</th>
          <th>年齡</th>
          <th>修改</th>
          <th>刪除</th>
        </tr>
        <tr v-for="(p, index) in persons" :key="p.id" style="margin-top: 5px">
          <td>{{p.id}}</td>
          <td>{{p.name}}</td>
          <!-- name和age也可以在這兩格中直接修改，先設定一個隱藏的輸入框，點選修改按鈕時才顯示，這樣說不定更好寫，不用把index傳出去；但是要有name, age的陣列區分不同輸入框 -->
          <td>{{p.age}}</td>
          <td>
            <!-- 點選修改時取消其他按鈕 -->
            <button v-show="!isReviseFlag" @click="updateItem(index)">修改</button>
          </td>
          <td><button v-show="!isReviseFlag" @click="deleteItem(index)">刪除</button></td>
        </tr>
      </table>
      <div>更新姓名：<input type="text" v-model="personName" /></div>
      <div>更新年齡：<input type="text" v-model="personAge" /></div>
      <button v-show="!isReviseFlag" @click="addFirst({id: Date.now(), name: this.personName, age: this.personAge})">
        向第一位添加
      </button>
      <br /><br />
      <button v-show="!isReviseFlag" @click="addLast({id: Date.now(), name: this.personName, age: this.personAge})">
        向最後一位添加
      </button>
      <button v-show="isReviseFlag" @click="confirmUpdate(this.currentId)">確認修改</button>

      <!-- 查詢 -->
      <br /><br /><br />
      <div>
        <h2>測試列表的查詢</h2>
        <label>選擇欄位：</label>
        <select v-model="selectedField">
          <!-- 如果要做li然後點選改變欄位名稱，那就用@click，然後到methods中該函式內設定要篩選的欄位 -->
          <option value="id">ID</option>
          <option value="name">Name</option>
          <option value="age">Age</option>
        </select>

        <label>輸入內容：</label>
        <input v-model="searchValue" placeholder="輸入內容以篩選" />

        <h2>篩選結果：</h2>
        <table border="1">
          <tr>
            <!-- 不要用filteredPersons[0]來查找，避免沒篩選到結果時出錯 -->
            <th v-for="key in Object.keys(this.persons[0])">{{key}}</th>
          </tr>
          <tr v-for="person in filteredPersons" :key="person.id">
            <td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.age }}</td>
          </tr>
        </table>
      </div>
    </div>

    <script>
      const { createApp } = Vue;
      createApp({
        data() {
          return {
            persons: [
              { id: "001", name: "張三", age: 18 },
              { id: "002", name: "李四", age: 19 },
              { id: "003", name: "王五", age: 20 },
              { id: "004", name: "劉六", age: 18 },
            ],

            personName: "", //更新姓名的輸入框
            personAge: "", //更新年齡的輸入框
            isReviseFlag: false, //點擊修改時隱藏其他按鈕
            currentId: -1, //點選修改時記住該資料的陣列序號
            selectedField: "id", //選擇欄位的值
            searchValue: "", //輸入內容框的值
          };
        },

        watch: {
          //監控輸入框
          personName(newVal, oldVal) {
            personName = newVal;
          },

          personAge(newVal, oldVal) {
            personAge = newVal;
          },
        },

        methods: {
          addFirst(newP) {
            //輸入不能空白
            if (this.personName !== "" && this.personAge !== "") {
              this.persons.unshift(newP);
              this.personName = "";
              this.personAge = "";
            }
          },

          addLast(newP) {
            if (this.personName !== "" && this.personAge !== "") {
              this.persons.push(newP);
              this.personName = "";
              this.personAge = "";
            }
          },

          deleteItem(index) {
            this.persons.splice(index, 1);
          },

          updateItem(index) {
            //點選修改時把資料傳送到輸入框當預設值
            this.personName = this.persons[index].name;
            this.personAge = this.persons[index].age;
            this.isReviseFlag = !this.isReviseFlag;
            this.currentId = index;
          },

          confirmUpdate(index) {
            //確認更新
            //條件要對才能更新
            if (this.currentId !== -1 && this.personName !== "" && this.personAge !== "") {
              this.persons[index].name = this.personName;
              this.personName = "";
              this.persons[index].age = this.personAge;
              this.personAge = "";
              this.isReviseFlag = !this.isReviseFlag;
              this.currentId = -1; //更新完取消ID對應
            }
          },

          //可以增加個取消更新，但沒必要。這邊只是練習。
        },

        computed: {
          //這邊會比對瀏覽器暫存值和我輸入的資料，而不要一直去察看js變數。當js變數有改變時才會更新瀏覽器暫存值。
          filteredPersons() {
            //filter篩選。條件是person的某欄位selectedField，值轉成字串，字串內容包含searchValue
            return this.persons.filter((person) => person[this.selectedField].toString().includes(this.searchValue));
          },
        },
      }).mount("#app");

      console.log(Vue);
    </script>
  </body>
</html>
